<a href="https://colab.research.google.com/github/PremGorecki/MachineLearning/blob/main/01_MNIST_tmp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

In [4]:
x = np.linspace(0, 100, 10) # start=0, end=100, steps=100
x

array([  0.        ,  11.11111111,  22.22222222,  33.33333333,
        44.44444444,  55.55555556,  66.66666667,  77.77777778,
        88.88888889, 100.        ])

In [5]:
x.shape

(10,)

In [10]:
x1 = x.reshape(-1,5)
x1

array([[  0.        ,  11.11111111,  22.22222222,  33.33333333,
         44.44444444],
       [ 55.55555556,  66.66666667,  77.77777778,  88.88888889,
        100.        ]])

In [11]:
#Listy

pusta = []
pusta

[]

In [14]:
one = [1, 2]
two = [3, 4]
full = [one, two]
full

[[1, 2], [3, 4]]

In [15]:
full2 = one + two
full2

[1, 2, 3, 4]

In [16]:
# Seria - Series to seria taka trochÄ™ lista ze swoim indeksem
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [18]:
s2 = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name = 'sample') 
s2

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [19]:
s2.shape

(4,)

In [21]:
#DataFrame
df = pd.DataFrame(data = [4, 5, 6], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first       4
second      5
third       6

In [23]:
df2 = pd.DataFrame(s2)
df2

   sample
a     3.0
b     NaN
c     4.0
d     6.0