<a href="https://colab.research.google.com/github/PremGorecki/MachineLearning/blob/main/PAWE%C5%81_22_november.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
from sklearn.svm import SVC
from sklearn.metrics import roc_curve, auc, accuracy_score, recall_score, precision_score
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.datasets import load_iris

import xgboost as xgb

MLA = [xgb.XGBClassifier(), SVC()]

#MLA = [SVC]

def compare_algorithms2df(MLA, X_train, X_test, y_train, y_test, sorted_by_measure='accuracy'):

  
  MLA_columns = []
  MLA_compare = pd.DataFrame(columns = MLA_columns)


  row_index = 0
  for alg in MLA:

    predicted = alg.fit(X_train, y_train).predict(X_test)
    MLA_name = alg.__class__.__name__
    MLA_compare.loc[row_index,'MLA Name'] = MLA_name
    MLA_compare.loc[row_index, 'MLA Train Accuracy'] = round(alg.score(X_train, y_train), 4)
    MLA_compare.loc[row_index, 'MLA Test Accuracy'] = round(alg.score(X_test, y_test), 4)
    MLA_compare.loc[row_index, 'MLA Precission'] = precision_score(y_test, predicted, average="micro")
    MLA_compare.loc[row_index, 'MLA Recall'] = recall_score(y_test, predicted, average="micro")

    row_index+=1
  
  MLA_compare.sort_values(by = ['MLA Train Accuracy'], ascending = False, inplace = True)    
  return MLA_compare

In [26]:
data = load_iris()

In [27]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [28]:
X = data["data"]

In [29]:
y = data["target"]

In [30]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [32]:
tabela=compare_algorithms2df(MLA, X_train, X_test, y_train, y_test)

In [31]:
# ML Flow - next time

In [33]:
type(tabela)

pandas.core.frame.DataFrame

In [34]:
tabela.columns

Index(['MLA Name', 'MLA Train Accuracy', 'MLA Test Accuracy', 'MLA Precission',
       'MLA Recall'],
      dtype='object')

In [37]:
type(tabela["MLA Name"])

pandas.core.series.Series

In [39]:
tabela["Nowa nazwa"] = 1

In [40]:
tabela

,MLA Name,MLA Train Accuracy,MLA Test Accuracy,MLA Precission,MLA Recall,Nowa nazwa
0,XGBClassifier,1.00,0.98,0.98,0.98,1
1,SVC,0.96,1.00,1.00,1.00,1

In [41]:
tabela.drop(columns=["Nowa nazwa"], inplace=True)

In [42]:
tabela

,MLA Name,MLA Train Accuracy,MLA Test Accuracy,MLA Precission,MLA Recall
0,XGBClassifier,1.00,0.98,0.98,0.98
1,SVC,0.96,1.00,1.00,1.00

In [46]:
tabela = tabela[tabela["MLA Train Accuracy"]!=1.0]

In [47]:
tabela

  MLA Name  MLA Train Accuracy  MLA Test Accuracy  MLA Precission  MLA Recall
1      SVC                0.96                1.0             1.0         1.0